@charset "UTF-8";
/* reset */
/* main variables */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Bold.eot");
  src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans.eot");
  src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  height: 90px;
  padding: 20px;
  padding-bottom: 0px;
  max-width: 1240px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .header__description {
    color: #999ba8;
    font-size: 14px;
    margin-top: 4px; }
  .header__logo {
    min-width: 29%; }
  .header__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__search {
    min-width: 35%; }
    .header__search input {
      border: 1px solid #b9b8bd;
      border-radius: 3px;
      height: 40px;
      font-size: 10px;
      padding: 5px;
      padding-left: 12px;
      width: 100%; }
      .header__search input::-webkit-input-placeholder {
        color: #b9b8bd;
        font-size: 13px;
        background: url("../img/search.png") no-repeat;
        background-position: 99%;
        background-position-y: 3px; }
      .header__search input:-ms-input-placeholder {
        color: #b9b8bd;
        font-size: 13px;
        background: url("../img/search.png") no-repeat;
        background-position: 99%;
        background-position-y: 3px; }
      .header__search input::-ms-input-placeholder {
        color: #b9b8bd;
        font-size: 13px;
        background: url("../img/search.png") no-repeat;
        background-position: 99%;
        background-position-y: 3px; }
      .header__search input::placeholder {
        color: #b9b8bd;
        font-size: 13px;
        background: url("../img/search.png") no-repeat;
        background-position: 99%;
        background-position-y: 3px; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    min-width: 35%;
    margin: auto;
    height: 100%;
    padding-left: 20px; }
    .header__contacts-number {
      width: 60%; }
    .header__contacts-time {
      width: 40%;
      font-size: 10px; }
      .header__contacts-time_yellow {
        color: #d0a46d;
        margin-bottom: 3px; }

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 15px; }
  .header__img {
    width: 250px; }
  .header__contacts {
    font-size: 23px;
    margin-top: 17px; }
    .header__contacts-number {
      margin-left: 55px; }
    .header__contacts-time {
      padding-left: 5px;
      font-size: 12px; }
  .header__search {
    position: relative;
    top: 10px;
    left: -63px; }
    .header__search input {
      font-size: 15px;
      width: 495px; }
      .header__search input::-webkit-input-placeholder {
        background-size: 3.9%;
        line-height: 25px; }
      .header__search input:-ms-input-placeholder {
        background-size: 3.9%;
        line-height: 25px; }
      .header__search input::-ms-input-placeholder {
        background-size: 3.9%;
        line-height: 25px; }
      .header__search input::placeholder {
        background-size: 3.9%;
        line-height: 25px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    max-height: 65px; }
    .header__logo {
      padding-top: 5px;
      padding-left: 10px; }
    .header__search input {
      margin-left: 18px;
      margin-top: 3px;
      max-height: 32px;
      width: 87%;
      max-width: 450px; }
      .header__search input::-webkit-input-placeholder {
        font-size: 10px;
        background-size: 11px;
        line-height: 20px; }
      .header__search input:-ms-input-placeholder {
        font-size: 10px;
        background-size: 11px;
        line-height: 20px; }
      .header__search input::-ms-input-placeholder {
        font-size: 10px;
        background-size: 11px;
        line-height: 20px; }
      .header__search input::placeholder {
        font-size: 10px;
        background-size: 11px;
        line-height: 20px; }
    .header__contacts {
      padding-left: 5px;
      padding-top: 5px; } }

@media screen and (min-width: 830px) and (max-width: 1200px) {
  .header__logo {
    padding-top: 15px;
    padding-left: 30px; } }

@media screen and (max-width: 767px) {
  .header {
    font-family: "PT Sans", sans-serif;
    width: 100%;
    height: 75px;
    padding-left: 19px;
    padding-top: 10px; }
    .header__description {
      font-size: 13px;
      margin-top: 4px; }
    .header__search {
      display: none; }
    .header__contacts {
      display: none; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100hv;
    width: 100%; } }

.main-wrapper {
  max-width: 1450px;
  margin: auto;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }
  .main-wrapper__move {
    padding-left: 25%; }

@media screen and (max-width: 767px) {
  .main-wrapper {
    padding-top: 40px; } }

.nav-md {
  width: 100%; }
  .nav-md__wrapper {
    max-width: 1240px;
    margin: auto; }
  .nav-md li {
    cursor: pointer; }

@media screen and (min-width: 1200px) {
  .nav-md {
    margin-top: 10px;
    height: 55px;
    width: 70%; }
    .nav-md__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
      flex-flow: row-reverse; }
    .nav-md__list-item {
      font-size: 14px; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nav-md__list-item {
    font-size: 12px; } }

@media screen and (min-width: 768px) {
  .nav {
    display: none; }
  .nav-md {
    height: 55px;
    line-height: 55px;
    margin-top: 8px; }
    .nav-md__menu-icon {
      margin-right: 5px; }
    .nav-md__list {
      max-height: 55px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      border-top: 1px solid #f0f1f6;
      border-bottom: 1px solid #f0f1f6; }
      .nav-md__list-menu:active {
        background-color: #f0f1f6; }
      .nav-md__list-item {
        margin: auto;
        font-weight: bold;
        text-transform: uppercase; }
        .nav-md__list-item img {
          margin-left: 5px; } }

@media screen and (max-width: 767px) {
  .nav-md {
    display: none; }
    .nav-md__wrapper {
      display: none; }
  .nav {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100%;
    background-color: #f0f1f6; }
    .nav__list {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .nav__list-item {
        padding: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat; }
        .nav__list-item:active {
          background-color: rgba(186, 212, 255, 0.7); }
      .nav__list-menu {
        background-color: #3eade2; }
        .nav__list-menu_open {
          content: "";
          border-bottom: 2px solid white;
          margin: auto;
          width: 30%;
          position: relative;
          top: 50%; }
          .nav__list-menu_open:after {
            margin: auto;
            content: "";
            position: absolute;
            width: 100%;
            top: 6px;
            height: 2px;
            background-color: white; }
          .nav__list-menu_open:before {
            margin: auto;
            content: "";
            position: absolute;
            width: 100%;
            top: -6px;
            height: 2px;
            background-color: white; }
      .nav__list-home {
        background-image: url(../img/icons-xs/home.png); }
      .nav__list-search {
        background-image: url(../img/icons-xs/find.png); }
      .nav__list-shop {
        background-image: url(../img/icons-xs/shop.png); }
      .nav__list-signin {
        background-image: url(../img/icons-xs/signin.png); }
      .nav__list-call {
        background-image: url(../img/icons-xs/phone.png); } }

.info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  color: #252a54;
  font-weight: bold; }
  .info img {
    max-height: 22px;
    cursor: pointer;
    position: relative; }
  .info__img_telegka {
    margin-right: 10px; }
  .info p {
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px; }

@media screen and (min-width: 1300px) {
  .info {
    padding-left: 5%; } }

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .info {
    padding-left: 4%;
    height: 55px; } }

@media screen and (min-width: 1200px) {
  .info {
    border-top: 1px solid #f0f1f6;
    border-bottom: 1px solid #f0f1f6;
    height: 55px;
    line-height: 55px;
    margin-top: 8px;
    margin-left: 0px;
    width: 33%; }
    .info__signin {
      margin-left: 30px; }
    .info p {
      font-weight: bold; } }

@media screen and (min-width: 999px) and (max-width: 1200px) {
  .info {
    padding-left: 4%; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info {
    width: 35%;
    margin-left: 65%;
    margin-bottom: 5px; }
    .info__signin {
      margin-left: 22px; }
    .info span {
      font-size: 9px; }
    .info img {
      max-height: 16px; } }

@media screen and (min-width: 768px) and (max-width: 890px) {
  .info p {
    font-size: 12px; }
  .header__contacts-time {
    font-size: 9px; } }

@media screen and (max-width: 767px) {
  .info img {
    display: none; }
  .info p {
    display: none; } }

@media screen and (min-width: 768px) {
  .menu {
    display: none;
    color: #666666;
    border: 1px solid #f0f1f6;
    border-radius: 2px;
    width: 240px;
    max-height: 260px;
    position: absolute;
    z-index: 999;
    background-color: white;
    -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px; }
    .menu__show {
      display: block; }
    .menu__header {
      display: none; }
    .menu ul {
      color: #d0a46d; }
    .menu__list {
      padding-top: 15px;
      padding-bottom: 15px; }
      .menu__list div:hover {
        background-color: #f0f1f6; }
      .menu__list-item {
        list-style-type: circle;
        min-height: 30px;
        line-height: 30px;
        margin-left: 15%; }
        .menu__list-item a {
          text-decoration: none;
          color: #666666;
          width: 160px; }
        .menu__list-item img {
          -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
          margin-left: 20px;
          float: right;
          top: 15px;
          right: 10px;
          position: relative; }
    .menu__drop-down_ul {
      display: none;
      border: 1px solid #f0f1f6;
      -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
      box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.2);
      padding: 15px;
      border-radius: 3px;
      min-width: 240px;
      margin-left: 103%;
      position: absolute;
      top: 90px;
      background-color: white; }
      .menu__drop-down_ul p {
        font-weight: bold;
        margin-bottom: 10px; }
      .menu__drop-down_ul-show {
        display: block; }
      .menu__drop-down_ul span {
        color: #666666; }
      .menu__drop-down_ul li {
        margin-left: 17px;
        padding-top: 8px;
        padding-bottom: 8px;
        list-style-type: circle; }
    .menu__drop-down_header {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;
      list-style-type: none; } }

@media screen and (max-width: 767px) {
  .menu {
    width: 25%;
    background-color: #f0f1f6;
    position: fixed;
    top: 0px;
    left: -25%;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
    .menu__drop-down {
      display: none; }
    .menu__header {
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #999ba8;
      height: 40px;
      padding-bottom: 5px;
      margin-bottom: 5px; }
    .menu__list {
      font-size: 14px;
      padding-left: 5px; }
      .menu__list-item {
        padding-bottom: 5px;
        margin-right: 5px; }
      .menu__list a {
        text-decoration: none;
        color: #999ba8; }
      .menu__list img {
        display: none; }
    .menu__show {
      display: block;
      left: 0px; }
  .menu__list-item {
    font-size: 10px; } }

.slick-prev:before, .slick-next:before {
  width: 40px;
  content: '.';
  min-height: 65px;
  background-color: rgba(208, 164, 109, 0.8); }

@media screen and (max-width: 1200px) {
  .slider__md {
    height: 325px; } }

@media screen and (min-width: 768px) {
  .slider {
    padding: 15px; }
    .slider__xs {
      display: none; }
    .slider__md {
      max-width: 1355px;
      margin: auto;
      margin-top: 20px; }
  .slick-next {
    right: 20px;
    z-index: 999; }
  .slick-prev {
    height: 70px;
    border-color: rgba(208, 164, 109, 0.8);
    left: 20px;
    z-index: 997; } }

@media screen and (max-width: 767px) {
  .slider __md {
    display: none; }
  .slick-next {
    right: 5px;
    z-index: 999; }
  .slick-prev {
    left: 5px;
    z-index: 999; } }
