@media screen and (max-width: 1200px) {
  .slider__md {
    height: 325px; } }

@media screen and (min-width: 768px) {
  .slider {
    padding: 15px; }
    .slider__xs {
      display: none; }
    .slider__md {
      max-width: 1355px;
      margin: auto;
      margin-top: 20px; }
  .slick-next {
    right: 20px;
    z-index: 999; }
  .slick-prev {
    height: 70px;
    border-color: rgba(208, 164, 109, 0.8);
    left: 20px;
    z-index: 997; } }

@media screen and (max-width: 767px) {
  .slick-next {
    right: 5px;
    z-index: 999; }
  .slick-prev {
    left: 5px;
    z-index: 999; }
  .slider__md {
    display: none; } }
