.slider{
  margin: auto;
  max-width: 1350px;
  height: 125px;
  max-height: 330px;
  &__img{
    background-image: url("../img/slider-img.png");
    min-height: 125px;
  }
  &__prev_wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 50px;
  }
  &_next_wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.slick{
  &__item{
    z-index: 998;
    position: absolute;
  }
}



.slick-next{
  height: 30px;
  width: 20px;
  background-color: $brownyellow;
  position: absolute;
  right: 0px;
  top: -77px;
  &:after{
    content: '';
    position: absolute;
    height: 30px;
    width: 20px;
    bottom: 1px;
    background: url("../img/slider_arrow.png") no-repeat;
    transform: rotate(180deg);
    background-position-x: 3px;
  }
  &:hover{
    transform: rotate(180deg);
    background-color: rgba(255,255,255,0.8);
    &:after{
      background: url("../img/slider_arrow_hovered.png") no-repeat;
      background-position-x: 5px;
    }
  }
}


.slick-prev{
  height: 30px;
  width: 20px;
  position: absolute;
  background-color: $brownyellow;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  &:after{
    z-index: 999;
    content: '';
    position: absolute;
    height: 30px;
    width: 20px;
    top:1px;
    background: url("../img/slider_arrow.png") no-repeat;
    background-position-x: 3px;
  }
  &:hover{
    background-color: rgba(255,255,255,0.8);
    transform: rotate(180deg);
    &:after{
      background: url("../img/slider_arrow_hovered.png") no-repeat;
      background-position-x: 5px;
    }
  }
}



@media screen and (min-width: 1200px){
  .slider{
    margin-top: 32px;
    &__img{
      height: 330px;
      background-position-y: 100%;
    }
  }
  
}


@media screen and (min-width: 768px) and (max-width: 1199px){
  .slider{
    margin-top: 16px;
    width: 96%;
    &__img{
      min-height: 165px;
      background-size: cover;
      background-position-y: 90%;
    }
  }
}



@media screen and (max-width: 767px){
  .slider{
    &__img{
      width: 100%;
      background-size: cover;
      max-height: 120px;
    }
  }
  .slick{

  }




}



